[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bentoml = "*"
pandas = "*"
numpy = "*"
ipykernel = "*"
xgboost = "*"
scikit-learn = "==1.1.1"
locust = "*"

[dev-packages]

[requires]
python_version = "3.9"
