[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
flask = "*"
requests = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.9"
